
body{
    margin: 0%;
    background-image: linear-gradient( 90deg,rgb(212, 0, 255), rgb(56, 216, 228));
    text-align: center;
    color: white;
}
.voltar{
    height: 29px;
    margin: 0% 0% 0% -85%;
}
.bandeira{
    position: absolute;
    margin: -56px 0% 0% 70%;
    height: 80px;
    transition: 1s;
}
.bandeira:hover{
    position: absolute;
    margin: -16px 0% 0% 70%;
    height: 80px;
    transition: 1s;
}
.logo{
    position: relative;
    height: 98px;
}
.imagem{
    height: 40px;
}
.imagem:hover{
    height: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}
h4 {
    color:white;
    margin: 5px;
}
.cooperacao1,
.cooperacao2,
.cooperacao3,
.cooperacao4,
.cooperacao5 {
    margin: 5.7px;
    color: white;
    text-decoration: none;
}
.cooperacao1:hover,
.cooperacao2:hover,
.cooperacao3:hover,
.cooperacao4:hover,
.cooperacao5:hover {
    color: rgb(20, 3, 255);
    text-decoration: underline;
}
.nomes{
    margin: 2%;
    display: flex;
    justify-content: space-around;
}
.direitos {
    font-size: 9px;
    text-align: center;
    margin: -24px 0 1% 0;
}
img.doacao {
    display: grid;
    transform: rotate(-45deg);
    height: 71px;
    border-radius: 17px;
    justify-content: end;
    margin: 6% 0% 11% 6%;
}
img.doacao:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border: 0.5px solid #000;
    transition: background 0.6s;
}
a{
    display: contents;
}
